@charset "UTF-8";

#order_process {
  width: 100%;
  text-align: center;
}
#order_process li {
  display: inline-block;
  padding: 0 10%;
}

.order_item a {
  display: block;
  font-size: 3rem;
  font-weight: bold;
  color: #2e3138;
  user-select: none;
  margin: 10px 0;
}

.order_item a.on {
  color: tomato;
}
