@charset "UTF-8";
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");
html,
body {
  width: 100%;
  min-width: 1180px;
  overflow-x: hidden;
  color: #333;
}
input:focus,
button:focus,
select:focus {
  outline: none;
}
ul,
li {
  list-style: none;
}
body,
div,
input {
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: -0.03em;
}
header {
  position: fixed;
  width: 280px;
  height: 100%;
  /* background-color: #233e83; */
  background-color: #222328;
  color: #fff;
}

.header_inner {
  height: 100%;
  position: relative;
}

.header_top h1 {
  padding: 40px;
  font-size: 2rem;
}

#gnb li {
  font-weight: bold;
  font-size: 1.2rem;
}

#gnb > li {
  color: #9799a7;
  margin: 20px 0;
}

.gnb_sub > li {
  font-size: 1rem;
  text-indent: 1rem;
  margin: 30px 0;
  color: #eff1f1;
}

.header_middle {
  padding: 0 50px;
}

.header_bottom {
  clear: both;
  position: absolute;
  background-color: #2e3138;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
}

.header_bottom > ul {
  text-align: center;
}

.header_bottom > ul > li {
  display: inline-block;
}

.header_bottom > ul > li:first-child {
  margin-right: 10px;
}

.header_bottom > ul > li p {
  padding: 5px;
}
.header_bottom p.title {
  font-weight: bold;
  clear: both;
  color: #9799a7;
}
.header_bottom p.desc {
  color: #eff1f1;
}

/*미디어쿼리*/

@media (max-width: 600px) {
  header {
    position: static;
    width: 100%;
  }

  .header_inner {
    position: static;
  }

  .header_bottom {
    position: static;
  }
}
