@charset "UTF-8";

.banner_visual {
  background: url("https://www.ediya.com/images/members/members_visual.jpg") no-repeat center;
}

h3 {
  float: left;
}

.list_button {
  user-select: none;
  margin-top: 20px;
  float: right;
  width: 150px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  text-align: center;
  padding: 15px;
  font-size: 1rem;
}

.card_container {
  margin-top: 35px;
  width: 100%;
}

.card_container > ul > li {
  width: 570px;
  /* width: 100%; */
  margin-right: 20px;
  margin-bottom: 35px;
  height: 210px;
  float: left;
}

.card_container_full > ul > li {
  width: 100%;
}

.card_container > ul > li > figure,
.card_container > ul > li > div {
  float: left;
}

.card_container > ul > li > figure img {
  width: 333px;
  height: 210px;
}

.card_container > ul > li > div {
  margin-left: 20px;
}

.card_container > ul > li > div p {
  font-size: 1.2rem;
}

.card_title {
  margin-top: 20px;
}
.detail {
  font-size: 0.8rem;
}

.modify {
  font-size: 0.8rem;
  margin-left: 10px;
}

.card_title,
.card_id,
.card_remain {
  margin-bottom: 20px;
}

.card_remain strong {
  color: #233e83;
}

.card_control {
  line-height: 1rem;
}

.card_control li {
  width: 110px;
  float: left;
  margin-bottom: 5px;
}

.card_control li:nth-child(2n-1) {
  margin-right: 23px;
}

.card_control li:nth-child(3) {
  clear: both;
}

.card_button {
  font-size: 0.9rem;
  text-align: center;
  width: 100%;
  display: block;
  background-color: #fff;
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  overflow: hidden;
}

.card_button:hover {
  background-color: #233e83;
  color: #fff;
}

#card_history {
  width: 100%;
  border-top: 3px solid #233e83;
  text-align: center;
}

#card_history thead td {
  font-weight: bold;
}

#card_history tbody tr:hover td {
  font-weight: bold;
  color: #233e83;
}

#card_history tr {
  border-bottom: 1px solid #d9d9d9;
}

#card_history td {
  padding: 20px;
}

.col_no {
  width: 5%;
}
.col_category {
  width: 15%;
}
.col_content {
  width: 15%;
}
.col_store {
  width: 15%;
}
.col_amount {
  width: 15%;
}
.col_date {
  width: auto;
}
