@charset "UTF-8";

.banner_visual {
  background: url("https://www.ediya.com/images/members/members_visual.jpg") no-repeat center;
}

.card_container {
  margin-top: 35px;
  width: 100%;
}

.card_container ul li {
  width: 570px;
  margin-right: 20px;
  margin-bottom: 35px;
  height: 210px;
  float: left;
}

.card_container ul li > figure,
.card_container ul li > div {
  float: left;
}

.card_container ul li > figure img {
  width: 333px;
  height: 210px;
}

.card_container ul li > div {
  margin-left: 20px;
}

.card_container ul li > div p {
  font-size: 1.2rem;
}

.card_title {
  margin-top: 20px;
}
.card_title a {
  font-size: 0.8rem;
  margin-left: 10px;
}
.card_title,
.card_id,
.card_remain {
  margin-bottom: 20px;
}

.card_remain strong {
  color: #233e83;
}
