@charset "UTF-8";

* {
	padding: 0; margin: 0;
}
.allbox {
	width: 100%;
}
.box {
	width: 100%; height: 300px;
	border: 2px solid white;
}
.backgroundcoffee {
	background: url("https://i.imgur.com/tH3uRjt.jpg") no-repeat;
}
.menufont {
	color: white;
	padding-top: 100px;
	text-align: center;
	font-weight: bold;
	font-size:30px;
}
.centercontent {
	width: 1000px;
	margin: 0px auto;
}
.sidefont a {
	color: silver;
	padding-top: 10px;
	padding-right: 10px;
	font-size: 14px;
	float: right;
}
.menu ul {
	margin-left: 610px;
}
.menu ul li {
	width: 200px;
	color: white;
	font-weight: bold;
	text-align: center;
	border: 1px solid white;
	float: left;
	padding: 7px 10px;
	list-style: none;
}
.menu ul li:hover {
	background: white;
	color:black;
}
.menu ul li:hover a {
	text-decoration: none;	
	color: black;
}

.menu ul li a {
	text-decoration: none;	
	color: white;
	width: 232px;
	height: 53px;
}
.picture ul li {
	position:relative;
	float: left;
}

.picture ul li:hover .detail{
	visibility:visible;
}

.picture p {
	text-align: center;
	text
}

.picture:after{
clear: both;
  content: "";
  display: block;
  visibility: hidden;
}

.detail{	
	visibility:hidden;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(216,216,216,0.3);
}