@charset "utf-8";

.inputRow::after,
.headerInnerLogin::after {
  content: "";
  clear: both;
  display: block;
}

/*공통*/

header {
  border-bottom: 1px solid #f0f2f5;
}

.headerInnerLogin {
  clear: both;
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}

label {
  position: relative;
}

/*체크박스
https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/
label.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  transition: all linear 0.2s;
  position: absolute;
  top: 5px;
  left: 0px;
  height: 20px;
  width: 20px;
  border: 1px solid #ccc;
}

label.checkbox:hover input ~ .checkmark {
  border-color: #00c4c4;
}

label.checkbox input:checked ~ .checkmark {
  background-color: #00c4c4;
  border-color: #00c4c4;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

label.checkbox input:checked ~ .checkmark:after {
  display: block;
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.inputRow {
  margin: 18px 0;
  clear: both;
}

.inputRow.flex {
  width: 100%;
  display: flex;
  display: -ms-flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

.inputRow.flex li {
  width: calc(50% - 5px);
}

.inputRow.flex li:first-child,
.inputRow.flex li:nth-child(2) {
  margin-bottom: 10px;
}

.inputRow.flex li:nth-child(2n - 1) {
  margin-right: 5px;
}
.inputRow.flex li:nth-child(2n) {
  margin-left: 5px;
}

.inputRow.flex button,
.inputRow .btnPlain {
  border: 1px solid #d9d9d9;
  background-color: #fff;
  width: 100%;
  height: 47px;
  transition: all linear 0.3s;
}

.inputRow.flex button:hover,
.btnPlain:hover {
  background-color: #f7f7f7;
  border-color: #d2d2d2;
}

.inputRow button {
  outline: 0;
  border: 0;
}

.inputRow.loginOption > *:first-child {
  float: left;
}

.inputRow.loginOption > *:last-child {
  float: right;
}

.inputRow.loginOption p {
  cursor: pointer;
  display: inline-block;
}

.inputRow p,
.inputRow span {
  font-size: 0.87rem;
  letter-spacing: -0.09rem;
}

.inputRow span.desc {
  display: none;
  color: #757575;
}

.inputRow span.desc.show {
  display: inline-block;
}

.inputBox {
  clear: both;
  box-sizing: border-box;
  transition: all linear 0.2s;
  border: 1px solid #d9d9d9;
  width: 100%;
  height: 47px;
  padding: 0 16px;
}

.inputBox:hover {
  border-color: #757575;
}

.inputBox:active,
.inputBox:focus {
  border-color: #00c4c4;
}

.inputBox.error {
  border-color: #ff6666;
  background-color: #fff9f9;
}

.inputBox.error ~ span.desc {
  color: #ff6666;
  display: inline-block;
}

span.text {
  color: #757575;
  font-weight: 400;
  display: inline-block;
}

p.text {
  text-align: center;
}

span.title {
  font-size: 1.15rem;
  display: inline-block;
  margin-bottom: 15px;
}

label.inputEvent span.title::after {
  letter-spacing: 0rem;
  margin-left: 3px;
  content: "(선택사항)";
  font-size: 0.95rem;
  color: #333;
}

label.inputEvent span.desc {
  font-size: 0.85rem;
  letter-spacing: -0.07rem;
  line-height: 1.2rem;
  margin-top: 5px;
}

/*로그인*/

.loginWrap,
.registerWrap {
  min-width: 400px;
  max-width: 400px;
  margin: 0 auto;
  box-sizing: border-box;
}

.loginWrap {
  padding: 80px 15px;
}

.registerWrap {
  padding: 40px 16px 96px;
}

.loginWrap h2 {
  font-size: 1.95rem;
  font-weight: 400;
  margin-bottom: 30px;
  letter-spacing: 0.01rem;
}

#saveUserId {
  margin-right: 2px;
}

a.register {
  color: #29cacd;
  text-decoration: underline;
  font-weight: 400;
  margin-left: 10px;
}

a.findAccount {
  color: #757575;
  font-weight: 400;
}

.orRow::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  position: absolute;
  left: 0;
  top: 10px;
  z-index: -1;
}

.orRow {
  position: relative;
  width: 100%;
  text-align: center;
}

.orRow span {
  font-size: 0.8rem;
  color: #757575;
  font-weight: 700;
  z-index: 10;
  padding: 0 10px;
  background-color: #fff;
}

/*회원가입*/
.registerWrap h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 30px;
  letter-spacing: 0.01rem;
}

.registerWrap h2.small {
  font-size: 2.2rem;
}

p.registerText {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.registerContainer {
  position: relative;
}

.registerContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 400px;
  height: 100%;
  background: yellow no-repeat;
  background-size: 100%;
}

.registerContainer .registerWrap {
  margin-right: 50%;
}

/*반응형*/
@media (max-width: 1095px) {
  .headerInnerLogin {
    border: 0;
  }
  .headerInnerLogin h1 {
    width: 100%;
    display: block;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .headerInnerLogin {
    border: 0;
  }
  .registerContainer::before {
    opacity: 0;
    display: none;
  }
  .registerContainer .registerWrap {
    margin: 0 auto !important;
  }
}
