/*margin-hack*/
.categoryContent::after,
.item::after,
.item .desc::after,
.status ul::after {
  display: block;
  content: "";
  clear: both;
}

/*전체 분류 */
ul.categoryContent {
  width: 100%;
  margin: 20px 0;
}

ul.categoryContent li {
  float: left;
  width: 80px;
  letter-spacing: -0.099rem;
}

ul.categoryContent li:not(:first-child) {
  margin-left: 33px;
}

ul.categoryContent .circle {
  margin: 0 auto;
  background-color: #e5e5e5;
  border-radius: 100%;
  display: block;
  width: 60px;
  height: 60px;
}

ul.categoryContent .circle.on,
ul.categoryContent .circle:hover {
  box-sizing: border-box;
  border: 3px solid #00b2b2;
}

ul.categoryContent .text {
  display: block;
  width: 100%;
  font-size: 0.85rem;
  text-align: center;
  margin: 10px 0;
}

/*펀딩 리스트 (grid)*/

.gridContent {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
}

.item {
  width: calc(33.3333% - 30px);
  margin-bottom: 50px;
}

.item:not(:nth-child(3n)) {
  border-right: 15px solid transparent;
}

.itemInner {
  width: 100%;
  margin: 0 auto;
}

.item .thumbnail {
  cursor: pointer;
  width: 100%;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}

.textWrap > * {
  clear: both;
  margin: 10px 0;
}

.item .subject {
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 800;
}

.desc li {
  float: left;
  font-size: 0.9rem;
  font-weight: 800;
  color: #90949c;
}

.desc li:not(:last-child)::after {
  content: "";
  clear: both;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  width: 2px;
  height: 8px;
  background-color: #dadce0;
}

.status > * {
  margin: 10px 0;
}

.status > .desc {
  margin-bottom: 20px;
}

.status ul li span.percent {
  color: #00b2b2;
  font-size: 1.1rem;
}

.status ul li span {
  color: #90949c;
  font-size: 0.9rem;
  font-weight: 800;
}

.status ul li:first-child {
  float: left;
}

.status ul li:last-child {
  float: right;
}

/*반응형*/

/*그리드 설정/해제 지점*/
@media (min-width: 768px) {
}
@media (max-width: 768px) {
  .item {
    width: 100%;
    clear: both;
    margin-bottom: 20px;
  }
  .gridContent {
    display: block;
    padding: 0 10px;
  }
  .itemInner .thumbnail {
    float: left;
    width: 150px;
    height: 100px;
    margin-right: 10px;
  }
  .itemInner .textWrap {
    float: left;
    width: calc(100% - 180px);
  }
  .textWrap > *,
  .status > * {
    margin: 3px 0;
  }
  .textWrap .subject {
    margin-top: 0;
  }
  .status {
    margin-top: 10px;
  }
}
