@charset "utf-8";
header {
  border-bottom: 1px solid #f0f2f5;
}
.detailWrap::after,
.brandInfoBox::after,
.brandStatus::after {
  content: "";
  display: block;
  clear: both;
}

.bgWhite {
  background-color: #fff;
}

.contentWrapper {
  background-color: #f5f7fa;
}

.projectTitle {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 50px 0;
  overflow: hidden;
  user-select: none;
}
.projectTitle h2 {
  font-size: 2.1rem;
  font-weight: 600;
}
.projectTitle h3 {
  padding-top: 35px;
  color: #00b2b2;
}
.projectTitle .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #353535;
  background-position: 50% 50%;
  background-size: cover;
  filter: brightness(0.8) blur(5px);
}

div.nav {
  clear: both;
  min-width: 384px;
  border-top: 1px solid #f0f2f5;
  border-bottom: 1px solid #e5e5e5;
}

ul.detailNav {
  width: 960px;
  margin: 0 auto;

  user-select: none;
}

ul.detailNav li a {
  width: 100%;
  height: 48px;
  line-height: 48px;
  /* padding: 0 5px; */
  display: inline-block;
  text-align: center;
  color: #90949c;
  font-weight: 400;
}

ul.detailNav li {
  display: inline-block;
}

ul.detailNav li:not(:last-child) {
  margin-right: 30px;
}

ul.detailNav li.on::after {
  display: block;
  position: relative;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: #00b2b2;
  content: "";
}

ul.detailNav li.on a {
  color: #00c4c4;
  font-weight: 700;
}

ul.detailNav a span.badge {
  display: inline;
  position: relative;
  top: -3px;
  font-size: 0.85rem;
  font-weight: 400;
  margin: 0 3px;
  color: #00b2b2;
}

.contentInner {
  box-sizing: border-box;
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

/*반응형*/
@media (max-width: 1097px) {
}

@media (max-width: 960px) {
  .projectTitle,
  ul.detailNav,
  .contentInner {
    width: 100%;
  }

  .contentInner {
    padding-left: 40px;
    padding-right: 40px;
  }
  .projectTitle {
    text-align: center;
  }
  ul.detailNav {
    display: block;
  }
  ul.detailNav li {
    box-sizing: border-box;
    float: left;
    width: 25%;
    margin: 0 !important;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 500px) {
  ul.detailNav li:not(:last-child) {
    margin-right: 15px;
  }
}
