@charset "UTF-8";

.projectList::after {
  clear: both;
  content: "";
  display: block;
}

.projectList {
  width: 960px;
  padding: 10px 0;
}

.projectList li {
  float: left;
  padding-bottom: 30px;
}

.projectList li:nth-child(3n + 2) {
  padding-left: 30px;
  padding-right: 30px;
}

.projectList .projectItem {
  width: 270px;
  border: 1px solid #dadce0;
  border-radius: 1px;
}

.projectList .projectItem .projectThumbnail {
  width: 100%;
  height: 225px;
  border-bottom: 1px solid #dadce0;
  position: relative;
}

.projectList .projectItem .projectThumbnail .projectBackground {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.projectList .projectItem .projectThumbnail .projectOverlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background: #babdc0;
  width: 100%;
  height: 100%;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  -ms-flex-align: center;
  -ms-flex-line-pack: center;
}

.projectOverlay span.whiteSubtitle {
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 0.85rem;
  user-select: none;
}

.projectList .projectItem .projectDescription {
  padding: 20px;
  background-color: #fff;
  font-size: 0.95rem;
  color: #90949c;
}

.projectList .projectItem .projectDescription dt {
  font-weight: 700;
  font-size: 1.15rem;
  color: #1d2129;
}

.projectList .projectItem .projectDescription dd {
  margin: 15px 0;
}

div.projectStatus p {
  margin: 10px 0;
}

i.projectStatus {
  border-radius: 100%;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

i.projectStatus.ready {
  background-color: #ffb500;
}
i.projectStatus.judge {
  background-color: #ff5733;
}
i.projectStatus.deny {
  background-color: #f6d55c;
}
i.projectStatus.report {
  background-color: #c70039;
}
i.projectStatus.blind {
  background-color: #c70039;
}
i.projectStatus.activate {
  background-color: #3caea3;
}
i.projectStatus.expire {
  background-color: #90949c;
}

.projectList .projectItemController {
  background-color: #fff;
  border-top: 1px solid #dadce0;
  text-align: center;
}

.projectList .projectItemController a {
  display: block;
  padding: 15px 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: 400;
}
